.gdsr { margin-top: 10px; }
.gdsr .previewtable td {
	padding: 0px; 
	border: 0px;
}
.gdsr-table-split {
	border-top: 2px solid lightBlue; 
	width: 100%; 
	margin-top: 10px; 
	padding-top: 10px;
}
.submit {padding:0;}
.column {margin-left: 150px; padding: 5px 0; width: 570px; clear: both; overflow: hidden;}
.column div {float: left; width: 180px; padding: 5px;}
.column span {float: right; margin-top: -20px;}
.friendlyform {float:left; margin-right: 2em;}